.profile-page {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.profile-page .overlap-wrapper {
  overflow: hidden;
  width: 1440px;
  height: 1024px;
}

.profile-page .overlap {
  position: relative;
  width: 1444px;
  height: 1037px;
  top: -13px;
}

.profile-page .background-glossy {
  position: absolute;
  width: 1440px;
  height: 1037px;
  top: 0;
  left: 0;
  border: 6.4px solid;
  border-color: #dae4f0;
  opacity: 0.7;
}

.profile-page .navbar {
  display: flex;
  width: 1440px;
  height: 40px;
  align-items: center;
  gap: 8px;
  padding: 0px 8px;
  position: absolute;
  top: 13px;
  left: 0;
  box-shadow: 0px -1px 5px #00000080, inset 0px 1px 1px #ffffff66;
  background-image: url(./img/toolbar.svg);
  background-size: cover;
  background-position: 50% 50%;
}

.profile-page .forums-icon-button {
  position: relative;
  width: 38px;
  height: 38px;
  margin-left: -4.00px;
}

.profile-page .forums-button {
  display: inline-flex;
  align-items: flex-start;
  gap: 10px;
  padding: 2px 0px;
  position: relative;
  flex: 0 0 auto;
}

.profile-page .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  text-shadow: 0px -1px 0px #00000033;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 19.2px;
  white-space: nowrap;
  box-shadow: var(--inset-subtle);
}

.profile-page .rectangle {
  position: relative;
  align-self: stretch;
  width: 1px;
  background-color: #ffffff4c;
  box-shadow: -1px 0px 0px #00000033;
}

.profile-page .search-bar {
  position: relative;
  width: 370px;
  height: 40px;
}

.profile-page .group {
  position: relative;
  width: 368px;
  height: 26px;
  top: 7px;
  left: 2px;
  background-color: #66666680;
  border-radius: 12px;
}

.profile-page .mingcute-search-line {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 4px;
  left: 9px;
}

.profile-page .div {
  position: absolute;
  width: 47px;
  height: 10px;
  top: 7px;
  left: 31px;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.profile-page .chats-button-icon {
  position: relative;
  width: 43px;
  height: 44.25px;
  margin-bottom: -4.25px;
}

.profile-page .text-wrapper-2 {
  position: relative;
  width: fit-content;
  text-shadow: 0px -1px 0px #00000033;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 19.2px;
  white-space: nowrap;
  box-shadow: var(--inset-subtle);
}

.profile-page .log-out-button-icon {
  position: relative;
  width: 39px;
  height: 39px;
}

.profile-page .side-bar-profile {
  position: absolute;
  width: 1444px;
  height: 984px;
  top: 45px;
  left: 0;
  box-shadow: 0px 4px 5px #00000040;
}

.profile-page .overlap-group {
  position: relative;
  width: 1440px;
  height: 982px;
  top: 2px;
}

.profile-page .side-bar-profil-page {
  position: absolute;
  width: 494px;
  height: 982px;
  top: 0;
  left: 0;
  box-shadow: inset -9.67px 9.67px 9.67px -7px #ffffff33, inset 9.67px -9.67px
    9.67px -7px #a4a4a433;
  backdrop-filter: blur(50px) brightness(100%);
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  background: linear-gradient(180deg, rgb(250, 247, 242) 100%);
}

.profile-page .profile-page-and {
  display: flex;
  width: 1440px;
  height: 60px;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.profile-page .profile-page-and-2 {
  position: relative;
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
}

.profile-page .text-wrapper-3 {
  position: absolute;
  width: 235px;
  top: 9px;
  left: 10px;
  text-shadow: 0px -1px 0px #00000033;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 1.20px;
  line-height: 48.0px;
  white-space: nowrap;
  box-shadow: var(--inset-subtle);
}

.profile-page .text-wrapper-4 {
  position: absolute;
  width: 235px;
  top: 7px;
  left: 510px;
  text-shadow: 0px -1px 0px #00000033;
  font-family: "Source Sans Pro-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 1.20px;
  line-height: 48.0px;
  white-space: nowrap;
  box-shadow: var(--inset-subtle);
}

.profile-page .rectangle-2 {
  position: absolute;
  width: 1px;
  height: 60px;
  top: 1px;
  left: 493px;
  background-color: #0000004c;
  box-shadow: -1px 0px 0px #00000033;
}

.profile-page .main-content-area {
  position: absolute;
  width: 1440px;
  height: 984px;
  top: 45px;
  left: 0;
}

.profile-page .my-profile-section {
  position: absolute;
  width: 490px;
  height: 306px;
  top: 63px;
  left: 0;
}

.profile-page .overlap-group-2 {
  position: absolute;
  width: 139px;
  height: 139px;
  top: 13px;
  left: 10px;
  background-color: #ffffff03;
  border-radius: 10px;
  box-shadow: inset -9.67px 9.67px 9.67px -5px #ffffff26, inset 9.67px -9.67px
    9.67px -5px #a4a4a426;
  backdrop-filter: blur(58px) brightness(100%);
  -webkit-backdrop-filter: blur(58px) brightness(100%);
}

.profile-page .profile-background {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 5px;
  left: 6px;
  background-color: #0d1dbb33;
  border-radius: 10px;
  box-shadow:
    inset -9.67px 9.67px 9.67px -5px #ffffff33, inset 9.67px -9.67px 9.67px -5px #a4a4a433, 0px 0px 100px 1px #ffffff26;
  backdrop-filter: blur(58px) brightness(100%);
  -webkit-backdrop-filter: blur(58px) brightness(100%);
}

.profile-page .img {
  position: absolute;
  width: 133px;
  height: 132px;
  top: 2px;
  left: 3px;
  object-fit: cover;
}

.profile-page .text-wrapper-5 {
  position: absolute;
  width: 109px;
  height: 31px;
  top: 17px;
  left: 170px;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 23px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-page .username-s-gmail {
  position: absolute;
  width: 180px;
  height: 31px;
  top: 51px;
  left: 170px;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #50504f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-page .about {
  position: absolute;
  width: 180px;
  height: 31px;
  top: 154px;
  left: 13px;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-page .custom-signature {
  position: absolute;
  width: 325px;
  top: 185px;
  left: 13px;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #50504f;
  font-size: 17px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-page .password {
  position: absolute;
  width: 159px;
  height: 31px;
  top: 85px;
  left: 170px;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #50504f;
  font-size: 15px;
  letter-spacing: 0;
  line-height: normal;
}

.profile-page .online-status {
  position: absolute;
  width: 13px;
  height: 13px;
  top: 30px;
  left: 279px;
  background-color: #c7ce12;
  border-radius: 6.5px;
  border: 1px solid;
  border-color: #000000;
}

.profile-page .div-wrapper {
  position: absolute;
  width: 176px;
  height: 24px;
  top: 124px;
  left: 162px;
  background-color: #565554;
  border-radius: 7px;
  box-shadow: inset -9.67px 9.67px 9.67px -5px #ffffff33, inset 9.67px -9.67px
    9.67px -5px #a4a4a433;
  backdrop-filter: blur(58px) brightness(100%);
  -webkit-backdrop-filter: blur(58px) brightness(100%);
}

.profile-page .text-wrapper-6 {
  position: absolute;
  width: 128px;
  height: 21px;
  top: 0;
  left: 24px;
  font-family: "Kanit-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.profile-page .my-posts-cintainer {
  position: absolute;
  width: 913px;
  height: 897px;
  top: 87px;
  left: 515px;
}

.profile-page .overlap-2 {
  position: absolute;
  width: 900px;
  height: 460px;
  top: 1px;
  left: 1px;
  background-color: #ffffff66;
  border-radius: 16px;
  box-shadow: 0px 4px 30px #0000001a;
  backdrop-filter: blur(10px) brightness(100%);
  -webkit-backdrop-filter: blur(10px) brightness(100%);
}

.profile-page .post-title-date {
  position: absolute;
  width: 900px;
  height: 40px;
  top: 1px;
  left: 0;
  overflow: hidden;
}

.profile-page .post-title {
  position: absolute;
  width: 200px;
  height: 40px;
  top: 0;
  left: 10px;
}

.profile-page .text-wrapper-7 {
  position: absolute;
  width: 100px;
  top: 4px;
  left: 29px;
  text-shadow: 0px 1px 1px #00000040;
  font-family: "Kanit-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24.0px;
}

.profile-page .reply-post-button {
  position: absolute;
  width: 75px;
  height: 40px;
  top: 0;
  left: 825px;
}

.profile-page .text-wrapper-8 {
  position: absolute;
  top: 9px;
  left: 17px;
  font-family: "Kanit-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19.2px;
  white-space: nowrap;
}

.profile-page .date {
  position: absolute;
  width: 100px;
  height: 40px;
  top: 0;
  left: 725px;
}

.profile-page .overlap-group-3 {
  position: relative;
  width: 88px;
  height: 30px;
  top: 5px;
  left: 12px;
}

.profile-page .rectangle-3 {
  position: absolute;
  width: 1px;
  height: 30px;
  top: 0;
  left: 87px;
  background-color: #ffffff4c;
  box-shadow: -1px 0px 0px #00000033;
}

.profile-page .text-wrapper-9 {
  position: absolute;
  width: 88px;
  top: 5px;
  left: 0;
  font-family: "Kanit-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19.2px;
  white-space: nowrap;
}

.profile-page .rectangle-4 {
  position: absolute;
  width: 1px;
  height: 30px;
  top: 5px;
  left: 724px;
  background-color: #ffffff4c;
  box-shadow: -1px 0px 0px #00000033;
}

.profile-page .overlap-3 {
  position: absolute;
  width: 100px;
  height: 30px;
  top: 5px;
  left: 624px;
}

.profile-page .rectangle-5 {
  position: absolute;
  width: 100px;
  height: 30px;
  top: 0;
  left: 0;
  background-color: #ffffff4c;
  transform: rotate(180deg);
  box-shadow: -1px 0px 0px #00000033;
}

.profile-page .text-wrapper-10 {
  position: absolute;
  width: 89px;
  top: 5px;
  left: 5px;
  font-family: "Kanit-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19.2px;
  white-space: nowrap;
}

.profile-page .rectangle-6 {
  position: absolute;
  width: 1px;
  height: 30px;
  top: -1245px;
  left: -3596px;
}

.profile-page .post-content-area {
  position: absolute;
  width: 873px;
  height: 418px;
  top: 41px;
  left: 23px;
  overflow: hidden;
}

.profile-page .overlap-4 {
  position: relative;
  width: 861px;
  height: 404px;
  top: -4px;
  left: -1px;
}

.profile-page .OMG-have-you-guys {
  position: absolute;
  width: 861px;
  top: 0;
  left: 0;
  font-family: "Kanit-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19.2px;
}

.profile-page .delete-mypost-button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 100px;
  height: 50px;
  top: 354px;
  left: 657px;
  background-image: url(./img/button-inner-2.png);
  background-size: 100% 100%;
}

.profile-page .overlap-group-4 {
  position: relative;
  height: 51px;
  top: -1px;
}

.profile-page .fake-reflection {
  position: absolute;
  width: 85px;
  height: 25px;
  top: 5px;
  left: 8px;
  border-radius: 103.15px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.28) 44.67%,
    rgba(255, 255, 255, 0) 100%
  );
}

.profile-page .button-innter-stroke {
  position: absolute;
  width: 100px;
  height: 50px;
  top: 1px;
  left: 0;
  border-radius: 103.15px;
  border: 3.87px solid;
  border-color: #e3090980;
  opacity: 0.85;
}

.profile-page .text {
  text-shadow: 0px 2.58px 3.87px #b52626;
  position: absolute;
  width: 100px;
  height: 50px;
  top: 0;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff80;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.profile-page .update-mypost-button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 100px;
  height: 50px;
  top: 354px;
  left: 761px;
  background-image: url(./img/image.png);
  background-size: 100% 100%;
}

.profile-page .button-innter-stroke-2 {
  top: 1px;
  border-color: #2ebb2280;
  position: absolute;
  width: 100px;
  height: 50px;
  left: 0;
  border-radius: 103.15px;
  border: 3.87px solid;
  opacity: 0.85;
}

.profile-page .text-2 {
  text-shadow: 0px 2.58px 3.87px #42b526;
  position: absolute;
  width: 100px;
  height: 50px;
  top: 0;
  left: 0;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff80;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.profile-page .my-post {
  position: absolute;
  width: 897px;
  height: 326px;
  top: 515px;
  left: 8px;
  overflow: hidden;
}

.profile-page .overlap-5 {
  position: relative;
  width: 900px;
  height: 339px;
  top: 1px;
  left: 1px;
}

.profile-page .mypost-backgound {
  position: absolute;
  width: 899px;
  height: 339px;
  top: 0;
  left: 0;
  background-color: #ffffff66;
  border-radius: 16px;
  box-shadow: 0px 4px 30px #0000001a;
  backdrop-filter: blur(10px) brightness(100%);
  -webkit-backdrop-filter: blur(10px) brightness(100%);
}

.profile-page .rectangle-7 {
  position: absolute;
  width: 1px;
  height: 30px;
  top: -1760px;
  left: -3604px;
}

.profile-page .post-content-area-2 {
  position: absolute;
  width: 860px;
  height: 266px;
  top: 41px;
  left: 23px;
  overflow: hidden;
}

.profile-page .OMG-have-you-guys-2 {
  position: absolute;
  width: 861px;
  top: -4px;
  left: -1px;
  font-family: "Kanit-LightItalic", Helvetica;
  font-weight: 300;
  font-style: italic;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19.2px;
}

.profile-page .overlap-group-wrapper {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 102px;
  height: 50px;
  top: 209px;
  left: 656px;
}

.profile-page .overlap-group-5 {
  position: relative;
  width: 100px;
  height: 50px;
  background-image: url(./img/button-inner-3.png);
  background-size: 100% 100%;
}

.profile-page .fake-reflection-2 {
  position: absolute;
  width: 85px;
  height: 25px;
  top: 3px;
  left: 8px;
  border-radius: 103.15px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.28) 44.67%,
    rgba(255, 255, 255, 0) 100%
  );
}

.profile-page .button-innter-stroke-3 {
  top: 0;
  border-color: #e3090980;
  position: absolute;
  width: 100px;
  height: 50px;
  left: 0;
  border-radius: 103.15px;
  border: 3.87px solid;
  opacity: 0.85;
}

.profile-page .button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 102px;
  height: 50px;
  top: 212px;
  left: 760px;
}

.profile-page .overlap-6 {
  position: relative;
  width: 100px;
  height: 50px;
  background-image: url(./img/button-inner.png);
  background-size: 100% 100%;
}

.profile-page .button-innter-stroke-4 {
  top: 0;
  border-color: #2ebb2280;
  position: absolute;
  width: 100px;
  height: 50px;
  left: 0;
  border-radius: 103.15px;
  border: 3.87px solid;
  opacity: 0.85;
}
